<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--1. constructor based dependency injection -->
    <!-- <bean class="com.itshaala.Student" name="student">
         <constructor-arg name="id" value="101"/>
         <constructor-arg name="name" value="Adnan"/>
         <constructor-arg name="address" value="Pune"/>
     </bean>-->

    <!-- 2. using setters-->
    <bean class="com.itshaala.Student" name="student">
        <property name="id" value="102"/>
        <property name="name" value="Onkar"/>
        <property name="address" value="Mumbai"/>
    </bean>

</beans>