<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.itshaala.Product" name="product1" scope="prototype">
        <property name="productId" value="101"/>
        <property name="productName" value="Laptop"/>
        <property name="productPrice" value="45000"/>
    </bean>

</beans>